/*Header*/
.burger {
    display: none; /* Oculta el símbolo en tabletas y laptops */
  }

.logo img{
    width: auto;
    height: 45px;
}

  .menu {
    /* Agrega estilos para tu menú completo en tabletas y laptops */
    /* Por ejemplo, podrías usar flexbox para alinear los elementos de menú */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container{
      display: flex;
      list-style-type: none;
      gap: 1rem;
  }

  .menu-container li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-family: 'Norwester';
    font-size: 1.6rem;
}


.menu-container button {
  text-decoration: none;
  border-color: transparent;
  color: white;
  padding: 10px;
  font-family: 'Norwester';
  font-size: 1.6rem;
  background-color: var(--fraterni-yellow);
  border-radius: 16px;
}
  .mobile-menu-container{
    display: none;
  }

  .mobile-menu-container--image{
    display: none;
  }
/*Header End*/

/*Header Container*/
.header--title-container h1 {
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 3.6rem;
}

.header--title-container br {
  display: none;
}
/*Header Container End*/


/*Footer*/

section.top ul {
  grid-template-columns: repeat(4, 1fr);
  padding-right: 0;
}

/*Footer End*/