/*Header*/
.burger {
    display: none; /* Oculta el símbolo en tabletas y laptops */
  }

.logo img{
    width: auto;
    height: 25px;
}

  .menu {
    /* Agrega estilos para tu menú completo en tabletas y laptops */
    /* Por ejemplo, podrías usar flexbox para alinear los elementos de menú */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container{
      display: flex;
      list-style-type: none;
      gap: 1rem;
  }

  

  .menu-container ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.menu-container--corner {
  display: flex;
  align-items: center;
  gap: 1rem; /* Separación entre botones */
}

.menu-container--cta {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre los botones */
}

#langToggle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Tamaño del ícono de idioma */
#langBicon {
  width: auto;
  height: 28px;
}

/* Estilos del botón "GET INVOLVED" */
.menu-container--cta button:not(#langToggle) {
  background-color: var(--fraterni-yellow); /* Fondo amarillo */
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}


  .mobile-menu-container{
    display: none;
  }

  .mobile-menu-container--image{
    display: none;
  }
/*Header End*/


/*Tamaños de letra*/
.fraternity-section p {
  font-size: 1.8rem;
  color: var(--fraterni-blank);
  padding: 32px 8px 0 8px;
  text-wrap: balance;
}

.fraternity-content p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--fraterni-blank);
    padding: 16px 0;
    text-wrap: balance;
}

/*fin tamaños letra*/

.header--portrait-container {
  position: relative;
  width: 100%;
  min-width: 288px;
  height: 50vh;
  min-height: 450px;
  margin-top: 80px;
  text-align: center;
  align-self: center;
  background: linear-gradient(to top, rgba(21, 37, 23, 1) 0%, rgba(37, 64, 39, 0.5) 1%, rgba(37, 64, 39, 0) 3%);
  z-index: 1;
}

.header--portrait-container .header--button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 47.5vh;
  padding: 16px 24px;
  background-color: var(--fraterni-yellow);
  color: var(--fraterni-blank);
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 8px;
  letter-spacing: 0.07rem;
  z-index: 3;
  transition: 0.2s;
  box-shadow: var(--fraterni-orange) 0px 7px 2px, #000 0px 8px 5px;
}

/* Esto es para evitar que el botón se suba mas de la altura mínima del fondo verde */
@media (max-height: 900px) {
  .header--portrait-container .header--button  {
    top: 425px;
  }
}

/* imagen */
.fraternity-image-cover img {
  width: 80%;
  margin-top: 20px;
  height: auto;
  border-radius: 8px;
  mask-image: linear-gradient(black 90%, transparent);
}

/* scroll de areas */
.area-detail--card.active {
  transform: scale(1);
}

.principles-areas--container {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 25px;
  transition: none;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.area-detail--card {
  display: block; /* Asegura que se muestren todas las tarjetas */
  width: 300px; /* Ajusta el tamaño de las tarjetas si es necesario */
  flex-shrink: 0; /* Previene que las tarjetas se reduzcan con el scroll */
  transform: none; /* Elimina transformaciones del slider */
  transition: none; /* Elimina transiciones en pantallas grandes */
}

.slider-controls {
  display: none
}

/* Gráfica de áreas */
.areas-graph {
  display: block;
  box-sizing: border-box;  /* LA IDEA ES ESCALAR LA GRÁFICA, NO SE POR QÚE NO FUNCIONA */
  height: 250px;
  width: 400px;
}

/* Pilares */
.pilar-card--container {
  display: flex;
  min-width: 420px;
  max-width: 110px;
  justify-content: center;
  gap: 100px;

}

.lines-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 718px;
  padding-top: 8px;
}