/*Header*/
.burger {
    display: none; /* Oculta el símbolo en tabletas y laptops */
  }

.logo img{
    width: auto;
    height: 25px;
}

  .menu {
    /* Agrega estilos para tu menú completo en tabletas y laptops */
    /* Por ejemplo, podrías usar flexbox para alinear los elementos de menú */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu-container{
      display: flex;
      list-style-type: none;
      gap: 1rem;
  }

  

  .menu-container ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.menu-container--corner {
  display: flex;
  align-items: center;
  gap: 1rem; /* Separación entre botones */
}

.menu-container--cta {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre los botones */
}

#langToggle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Tamaño del ícono de idioma */
#langBicon {
  width: auto;
  height: 28px;
}

/* Estilos del botón "GET INVOLVED" */
.menu-container--cta button:not(#langToggle) {
  background-color: var(--fraterni-yellow); /* Fondo amarillo */
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}


  .mobile-menu-container{
    display: none;
  }

  .mobile-menu-container--image{
    display: none;
  }
/*Header End*/

