/* Design Main Styles */
:root {
  /*Colores*/
  --fraterni-green: #152517;
  --fraterni-yellow: #c49102;
  --frat-grey: #33353a;
  --frat-lgrey: #808080;
  --fraterni-blank: #ffffff;
  --fraterni-black: #000000;
  --fraterni-blue: #111b21;
  --fraterni-beige: #dcba82;
  --fraterni-dbeige: #c3a374;
  --fraterni-orange: #D18807;
  --fraterni-lgreen: #133C18;
  --yellow-gradcolor: linear-gradient(to right, #D18807 0%, #f1c374 100%)
}

/*End Design Main Styles */

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}

/* End Universal Selector */

/* HTML & Body Selector */
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--fraterni-green);
}

/* End HTML Selector */

/* Norwester Font *Dont touch! (It doesnt support the  <meta charset="UTF-8"> */
@font-face {
  font-family: 'Norwester';
  src: url('./assets/fonts/norwester.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nerko One", system-ui;
  src: url('./assets/fonts/NerkoOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}






/* End of Norwester Font *Dont touch! (It doesnt support the  <meta charset="UTF-8"> */

/* General Header and Menu Styles */

#checkbox {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Set the height of the navbar */
  background-color: var(--fraterni-green);
  border-bottom: 5px solid var(--fraterni-yellow);
  padding: 0 20px;
  position: fixed;
  top: 0; /* Stick it to the top */
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 30px; /* Logo size */
}

.mobile-menu-container--image {
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: calc(100% - 70px); /* Cover everything except the navbar height */
  background: #1f3521; 
  transition: bottom 0.4s ease-in-out;
  padding-top: 50px; /* Padding from top */
  z-index: 999; /* Ensure it is above everything */
}

/* Show Menu when Open */
body.menu-open .mobile-menu-container {
  bottom: 0;
}

/* Menu Items */
ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 32px;
}

ul.menu li {
  margin: 20px 0;
}

ul.menu li a {
  font-size: 1.6rem;
  color: var(--fraterni-blank);
  text-decoration: none;
}

ul.menu li.navbar-title {
  font-size: 1.4rem;
  color: var(--fraterni-blank);
  text-transform: uppercase;
  font-weight: bold;
}

/* Language Icon and Text */
.language-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#currentLang {
  margin-left: 10px;
  color: var(--fraterni-blank);
  font-size: 1.6rem;
}

/* Mobile Menu Icon (Hamburger) */
.toggle {
  display: block;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.bar--top {
  top: 0;
}

.bar--middle {
  top: 9px;
}

.bar--bottom {
  top: 18px;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
}

#checkbox:checked + .toggle .bar--bottom {
  transform: rotate(-45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
}

#checkbox:checked + .toggle .bar--bottom {
  transform: rotate(-45deg);
  top: 9px;
}


/* 2. Start Main */
main {
  margin-top: 70px;
  width: 100%;
  height: auto;
  background: linear-gradient(0deg,#254027  0%,#152517 100%);
}

/* 2.1 Header Image Container */
.header--portrait-container {
  position: relative;
  width: 100%;
  min-width: 288px;
  height: 75vh;
  margin-top: 80px;
  text-align: center;
  align-self: center;
  background: linear-gradient(to top, rgba(21, 37, 23, 1) 0%, rgba(37, 64, 39, 0.5) 1%, rgba(37, 64, 39, 0) 3%);
  z-index: 1;
}

/* Contenedor de burbujas */
.bubble-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Colocamos las burbujas detrás del contenido */
  pointer-events: none;
}

/* Estilo de las burbujas */
.bubble {
  position: absolute;
  bottom: -50px;
  background-color:#082b0d;
  border-radius: 50%;
  opacity: 0;
  animation: bubbleMove 10s infinite ease-in-out;
}

/* Animación de movimiento y desvanecimiento de las burbujas */
@keyframes bubbleMove {
  0% {
    transform: translateY(0) scale(0.25); /* Reducido tamaño al 25% */
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  50% {
    transform: translateY(-300px) scale(0.7); /* Ajuste del tamaño y movimiento */
    opacity: 0.1;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    transform: translateY(-450px) scale(0.5);
    opacity: 0.1; /* Fade out para evitar obstrucción del título */
  }
  100% {
    transform: translateY(-600px) scale(0.4);
    opacity: 0;
  }
}

.header--portrait-container .overlay, 
.header--portrait-container .social-icons, .header--portrait-container .professional-info {
  position: relative;
  z-index: 2; /* Aseguramos que el texto y los íconos estén sobre las burbujas */
}



.header--portrait-container h1 {
  font-family: 'Norwester', sans-serif;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 7rem;
  padding-top: 80px;
  color: var(--fraterni-blank);
  z-index: 10;
}

.header--portrait-container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 0 16px;
  color: var(--fraterni-blank);
  text-wrap: balance;
  z-index: 10;
}

.fpromo-box {
  position: fixed;
  bottom: 5vh; /* Ajuste desde el borde inferior */
  left: 50%;
  transform: translateX(-50%);
  width: 50vw; /* Tamaño flexible basado en View Width (vw) */
  max-width: 600px;
  min-width: 280px;
  height: 25vh; /* Basado en View Height */
  background-color: var(--fraterni-green); /* Fondo semi-transparente */
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;
}

/* Contenido de la caja */
.fpromo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* Texto promocional */
.fpromo-text {
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: left;
  color: #f1f1f1;
  margin: 0 8px;
  text-wrap: balance;
}

/* Enlace promocional */
.fpromo-text strong{
  color: var(--fraterni-yellow); /* Amarillo dorado */
  font-weight: bold;
}

.fpromo-text strong:hover {
  text-decoration: underline;
}

/* Botón de cierre */
.fpromo-close-btn {
  position: absolute;
  top: 0.5rem;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.fpromo-close-bt:hover {
  color: var(--fraterni-orange);
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .fpromo-box {
      width: 80vw; /* Caja más ancha en pantallas pequeñas */
      height: auto; /* Para evitar que se sobrecargue el espacio en dispositivos pequeños */
  }
  
  .fpromo-text {
      font-size: 1.6rem;
  }
}

.header--portrait-container .harrows{
  margin-top: -8px;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(24px);
  }
}

/* 2.1.2 Social Icons */
.social-icons {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
  align-items: center; /* Centra los iconos verticalmente */
  height: 55px;
  width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del ancho disponible */
  margin: 0 auto; /* Centra el contenedor dentro de su sección padre */
}

.social-icons .social-link1,
.social-icons .social-link2,
.social-icons .social-link3,
.social-icons .social-link4, 
.social-icons .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Asegúrate de que los enlaces tengan suficiente espacio */
  height: 50px; /* Ajusta la altura para que sean círculos perfectos */
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50%; /* Haz que los iconos sean completamente redondos */
  overflow: hidden; /* Evita que el contenido sobresalga */
  z-index: 3;
}

.social-icon img {
  position: absolute;
  display: flex;
  width: 25px;
  height: auto;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
  transform: scale(1);
}

.social-icons .social-link1:hover {
  background-color: var(--fraterni-yellow);
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link2:hover {
  background-color:var(--fraterni-yellow);
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link3:hover {
  background-color: var(--fraterni-yellow);
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link4:hover {
  background-color: var(--fraterni-yellow);
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link5:hover {
  background-color: var(--fraterni-yellow);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
      transform: scale(1.4);
  }

  60% {
      transform: scale(0.8);
  }

  80% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}


.header--portrait-container .header--button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 72vh; /* Ajusta según sea necesario para que esté entre las secciones */
  padding: 16px 24px;
  background-color: var(--fraterni-yellow);
  color: var(--fraterni-blank);
  font-family: 'Norwester';
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 8px;
  letter-spacing: 0.07rem;
  z-index: 3; /* Asegura que el botón esté por encima de todo */
  transition: 0.2s;
  box-shadow: var(--fraterni-orange) 0px 7px 2px, #000 0px 8px 5px;
}

.header--portrait-container .header--button:hover {
  opacity: 1;
}

.header--portrait-container .header--button:active {
  top: 72.5vh;
  box-shadow: var(--fraterni-orange) 0px 3px 2px,#000 0px 3px 5px;
}

/* 3.1 Fraternity? Container -
3.1.1 Why a Fraternity? Container  */

/* Mobile First Styling */
.fraternity-section {
  background-color: var(--fraterni-green);
  color: #000; /* Texto blanco para contraste */
  padding: 24px;
  text-align: center;
}

.fraternity-section p{
  font-size: 1.2rem;
  color: var(--fraterni-blank);
  padding: 32px 8px 0 8px;
  text-wrap: balance;
}

.fraternity-section h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 8px 0;
  color: var(--fraterni-blank);
  text-wrap: balance;
}

.fraternity-image-cover strong {
  color: var(--fraterni-yellow);
  position: relative;
  animation: highlight 5s ease-in-out infinite; /* Añadir animación */
}

@keyframes highlight {
  0% {
    color: var(--fraterni-yellow); /* Comienza en color amarillo */
  }
  50% {
    color: var(--fraterni-blank); /* Se resalta cambiando el color a blanco */
    background-color: var(--fraterni-yellow); /* Fondo amarillo */
    padding: 6px;
    border-radius: 8px;
  }
  100% {
    color: var(--fraterni-yellow); /* Vuelve al color original */
    background-color: transparent; /* Fondo transparente */
  }
}

.fraternity-image-cover img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: auto;
  border-radius: 8px; /* Esquinas redondeadas para un toque moderno */
  mask-image: linear-gradient(
    black 90%,
    transparent
  );
}

.fraternity-content {
  margin-top: 20px;
  color: var(--fraterni-blank);
}

.fraternity-content h2 {
  font-family: 'Norwester';
  font-size: 3.2rem;
  color: var(--fraterni-blank);
  padding: 0 16px;
  font-weight: bold;
}

.fraternity-content img{
  width: 250px;
  height: 100px;
}

.fraternity-content p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--fraterni-blank);
  padding: 16px 0;
  text-wrap: balance;
}



.fraternity-content p2 strong{
  color: var(--fraterni-yellow);
  font-weight: 800;
}

.fraternity-content p2{
  font-size: 1.4rem;
  text-wrap: balance;
}


.mission-vision {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  align-items: center
}

.mission, .vision {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color:#1f3521;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission img, .vision img {
  width: 30px;
  height: 30px;
}

/* Opcional: sombra suave para efecto flotante */
.mission, .vision {
  transition: box-shadow 0.3s ease-in-out;
}

.mission:hover, .vision:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Checkbox toggle */
.toggle-socials {
  text-align: center;
  margin-top: 20px;
}

.checkbox {
  display: none; /* Ocultamos el checkbox nativo */
}

.checkbox-label {
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--fraterni-blank);
  background-color: #1f3521;
  padding: 10px 20px;
  border-radius: 8px;
  position: relative;
  border: 2px solid var(--fraterni-yellow);
  transition: background-color 0.3s ease;
  user-select: none;
  font-family: "Nerko One";
}

.checkbox:checked + .checkbox-label {
  background-color: var(--fraterni-yellow); /* Cambia el color cuando está activado */
}

.checkbox-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 2px;
  background: var(--fraterni-blank);
  transform: rotate(-10deg);
  transition: width 0.5s ease;
}

.checkbox-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 2px;
  background: var(--fraterni-blank);
  transform: rotate(10deg);
  transition: width 0.5s ease;
}

.socials-section {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.checkbox:checked ~ .socials-section {
  display: flex; /* Mostrar la sección cuando el checkbox está activado */
  justify-content: center;
  gap: 20px; /* Espacio entre los iconos */
}

.socials-section .social-check-icon img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.socials-section .social-check-icon img:hover {
  transform: scale(1.2);
}

.green-paper--container div {
    width: 100%;
    min-width: 320px;
    height: 60px;
    background-image: url('./assets/icons/papertracegreen.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: var(--fraterni-blank);
}

.principles-paper--container{
  width: 100%;
  background-color: var(--fraterni-blank);
  text-align: center;
}

.principles-paper--titles{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.principles-paper--titles h1{
  padding-top: 32px;
  color: var(--fraterni-yellow);
  font-family: "Norwester";
  font-size: 4.8rem;
  padding-bottom: 24px;
}

.principles-paper--titles p{
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--fraterni-black);
    text-wrap: balance;
}


.vuca-world--container{
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vuca-world{
  width: 200px;
  height: 200px;
  background: lightblue;
  border-radius: 50%;
  box-shadow: -40px -30px 0 0 rgba(0,0,0,.1) inset,
              -70px -30px 0 0 rgba(0,0,0,.1) inset,
              5px 5px 0 0 rgba(255,255,255,.2) inset;
  background: url(./assets/imgs/mapa.png);
  background-size: cover;

  animation: earthRotate 20s linear 0s infinite;
}

@keyframes earthRotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 377px 0;
  }
}

.principles-fraterni--text h2{
  color: var(--frat-grey);
  font-family: "Nerko One";
  font-size: 2.4rem;
  padding: 0 32px;
}

.principles-fraterni--text p{
    padding: 8px 18px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--fraterni-black);
    text-wrap: balance;
}

.principles-paper--container img{
  width: 250px;
  height: 50px;
}


.principles-areas--container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    padding-bottom: 80px;
    overflow: hidden;
}



.area-detail--card {
  width: 100%;
  max-width: 320px;
  background-color: var(--fraterni-blank);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
  transition: transform 0.3s ease;
}

.area-detail--card.active {
  display: block;
  transform: scale(1.05);
}

.image-column img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  border-bottom: 3px solid var(--fraterni-yellow);
}

.area-content-column {
  padding: 16px;
}

.area-title-row {
  font-family: "Nerko One";
  font-size: 3.2rem;
  color: var(--fraterni-black);
}

.area-description-row {
  font-size: 1.6rem;
  color: var(--frat-grey);
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.prev-btn, .next-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn img, .next-btn img {
  width: 40px;
  height: 40px;
}

.indicators {
  display: flex;
  gap: 8px;
  margin: 0 16px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: var(--frat-lgrey);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: var(--fraterni-yellow);
}

.principles-graph--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.areas-graph{
  margin: 32px 0 24px 0;
}

.main-pilars--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 8px; /* Añadimos el espacio de 8px desde los bordes */
  height: auto; /* Permite que el contenedor ajuste su altura */
  flex-wrap: wrap;
}

.pilar-card--container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around; /* Centra los pilares con espacio entre ellos */
  gap: 8px; /* Espaciado entre pilares */
  padding: 16px;
}

.pilar-card {
  flex: 1 0 30%; /* Cada pilar ocupa 30% del contenedor */
  max-width: 280px; /* Limita el tamaño máximo de los pilares */
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  background-image: url('./assets/icons/pilarSmall.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 16px;
}

.pilar-card span{
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;
  font-size: smaller;
  font-weight: 800;
  color: var(--fraterni-blank);
}

.pilar-card.active {
  flex: 1 0 100%; /* Pilar activo ocupa todo el ancho */
  height: auto;
}

.pilar-card.inactive {
  display: none; /* Oculta los pilares no seleccionados */
}

.pillar-content {
  display: none;
  width: 100%;
  height: auto;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  color: var(--fraterni-blank);
  background-color: var(--frat-grey);
}

.pilar-card.active .pillar-content {
  display: block;
}



/* Ajustes de texto */
.pillar-content h2 {
  font-family: "Nerko One";
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 16px;
  color: var(--fraterni-yellow);
}

.pillar-content p {
  font-size: 1.4rem;
  margin-bottom: 16px;
  color: var(--fraterni-blank);
}

.brand-carousel {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background-color: var(--frat-lgrey); /* Color de fondo */
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-container::before,
.carousel-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100px; /* Ancho del desvanecido */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, #808080, transparent);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, #808080, transparent);
}

.carousel-track {
  display: flex;
  animation: scroll 60s linear infinite;
}

.carousel-track img {
  height: 70px; /* Ajusta la altura de los logos */
  padding: 0 2rem; /* Espaciado entre logos */
  opacity: 0.8; /* Transparencia para el efecto */
}

.carousel-track img:hover {
  opacity: 1; /* Efecto al pasar por encima del logo */
}

.activities-section--slider{
  background-color: var(--fraterni-green); /* Fondo verde */
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.activities-titles {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}

.activities-titles h2{
  padding-top: 8px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--fraterni-blank);
  margin-bottom: 50px;
}

.activities-titles p{
  padding-top: 50px;
  font-size: 1.2rem;
  color: var(--fraterni-blank);
}

.activities-container{
  display: flex;
  height: 400px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 24px;
  padding: 0 1rem;
}

.activities-card{
  min-width: 300px;
  background-color: #1f3521; /* Fondo más oscuro */
  overflow: hidden;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
}

.activities-image--container{
  width: 100%; 
  height: 75%;
  overflow: hidden;
}

.activities-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Transición suave para el hover */
}

/* Efecto hover en la imagen */
.activities-card:hover .activities-image {
  transform: scale(1.05); /* Escalado al hacer hover */
}

.activities-info{
    width: 100%; /* El texto ocupa el 30% */
    padding: 16px; /* Padding para separar el texto del borde */
    text-align: left; /* Texto alineado a la izquierda */
}

.activity-title{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.activity-role{
  font-size: 0.9rem;
  color: #d4d4d4;
  margin-bottom: 1rem;
}

.activity-link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  color: #145A30;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 10rem;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

.activity-link:hover {
  background-color: #f4f4f4;
}

.activity-icon {
  margin-right: 0.5rem;
}

/* Footer Styles */
footer {
  background-color: var(--fraterni-green); /* Fondo del footer acorde con la paleta de colores */
  padding: 20px 0;
  text-align: center;
  border-top: 5px solid var(--fraterni-yellow); /* Borde superior acorde al estilo */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; /* Espaciado entre elementos */
}

.footer-logo img {
  height: 24px; /* Tamaño del logo */
}

.footer-copyright p {
  color: #c7c7c7; /* Color del texto */
  font-size: 1.4rem; /* Tamaño de fuente */
}
