/* Design Main Styles */
:root {
  /*Colores*/
  --fraterni-green: #152517;
  --fraterni-yellow: #c49102;
  --frat-grey: #33353a;
  
  --yellow-gradcolor: linear-gradient(to right, #D18807 0%, #f1c374 100%)
    
    /* Tamaños de fuente */
    --font-size-base: 16px; /* Tamaño base para 1rem */
    --font-size-heading: 3rem; /* Tamaño para encabezados */
    --font-size-subheading: 2.4rem; /* Tamaño para subtítulos */
    --font-size-body: 1.6rem; /* Tamaño para texto de cuerpo */
    
    /* Espaciado */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
    
    /* Bordes y sombras */
    --border-radius: 4px; /* Radio de borde estándar */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra estándar */
}

/*End Design Main Styles */

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}

/* End Universal Selector */

/* HTML & Body Selector */
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--fraterni-green);
}

/* End HTML Selector */

/* Norwester Font *Dont touch! (It doesnt support the  <meta charset="UTF-8"> */
@font-face {
  font-family: 'Norwester';
  src: url('./assets/fonts/norwester.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nerko One", system-ui;
  src: url('./assets/fonts/NerkoOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* End of Norwester Font *Dont touch! (It doesnt support the  <meta charset="UTF-8"> */

/* General Header and Menu Styles */

#checkbox {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Set the height of the navbar */
  background-color: #152517;
  border-bottom: 5px solid var(--fraterni-yellow);
  padding: 0 20px;
  position: fixed;
  top: 0; /* Stick it to the top */
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 30px; /* Logo size */
}

.mobile-menu-container--image {
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: calc(100% - 70px); /* Cover everything except the navbar height */
  background: rgba(17, 37, 10, 0.6); /* 60% opacity blur background */
  backdrop-filter: blur(12px); /* Blur effect */
  transition: bottom 0.4s ease-in-out;
  padding-top: 50px; /* Padding from top */
  z-index: 999; /* Ensure it is above everything */
}

/* Show Menu when Open */
body.menu-open .mobile-menu-container {
  bottom: 0;
}

/* Menu Items */
ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  padding-left: 32px;
}

ul.menu li {
  margin: 20px 0;
}

ul.menu li a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}

ul.menu li.navbar-title {
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

/* Language Icon and Text */
.language-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#currentLang {
  margin-left: 10px;
  color: #fff;
  font-size: 1.6rem;
}

/* Mobile Menu Icon (Hamburger) */
.toggle {
  display: block;
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.bar--top {
  top: 0;
}

.bar--middle {
  top: 9px;
}

.bar--bottom {
  top: 18px;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
}

#checkbox:checked + .toggle .bar--bottom {
  transform: rotate(-45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(45deg);
  top: 9px;
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
}

#checkbox:checked + .toggle .bar--bottom {
  transform: rotate(-45deg);
  top: 9px;
}


/* 2. Start Main */
main {
  margin-top: 70px;
  width: 100%;
  height: auto;
  background: linear-gradient(0deg,#254027  0%,#152517 100%);
}

/* 2.1 Header Image Container */
.header--portrait-container {
  position: relative;
  width: 100%;
  min-width: 288px;
  height: 75vh;
  margin-top: 80px;
  text-align: center;
  align-self: center;
  background: linear-gradient(to top, rgba(21, 37, 23, 1) 0%, rgba(37, 64, 39, 0.5) 1%, rgba(37, 64, 39, 0) 3%);
  z-index: 1;
}

/* Contenedor de burbujas */
.bubble-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Colocamos las burbujas detrás del contenido */
  pointer-events: none;
}

/* Estilo de las burbujas */
.bubble {
  position: absolute;
  bottom: -50px;
  background-color: #1a1f24;
  /* background-color: rgba(128, 132, 137, 0.25);  */
  /*background-color: rgba(209, 136, 7, 0.25);  Color con opacidad del 25% */
  border-radius: 50%;
  opacity: 0;
  animation: bubbleMove 10s infinite ease-in-out;
}

/* Animación de movimiento y desvanecimiento de las burbujas */
@keyframes bubbleMove {
  0% {
    transform: translateY(0) scale(0.25); /* Reducido tamaño al 25% */
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  50% {
    transform: translateY(-300px) scale(0.7); /* Ajuste del tamaño y movimiento */
    opacity: 0.1;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    transform: translateY(-450px) scale(0.5);
    opacity: 0.1; /* Fade out para evitar obstrucción del título */
  }
  100% {
    transform: translateY(-600px) scale(0.4);
    opacity: 0;
  }
}

.header--portrait-container .overlay, 
.header--portrait-container .social-icons, .header--portrait-container .professional-info {
  position: relative;
  z-index: 2; /* Aseguramos que el texto y los íconos estén sobre las burbujas */
}



.header--portrait-container h1 {
  font-family: 'Norwester', sans-serif;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 7rem;
  padding-top: 80px;
  padding-bottom: 8px;
  color: #ffffff;
  z-index: 10;
}

.header--portrait-container h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.2rem;
  padding: 0 56px 8px  56px;
  color: #ffffff;
  text-wrap: balance;
  z-index: 10;
}

.header--portrait-container .harrows{
  margin-top: -8px;
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(24px);
  }
}

/* 2.1.2 Social Icons */
.social-icons {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
  align-items: center; /* Centra los iconos verticalmente */
  height: 55px;
  width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del ancho disponible */
  margin: 0 auto; /* Centra el contenedor dentro de su sección padre */
}

.social-icons .social-link1,
.social-icons .social-link2,
.social-icons .social-link3,
.social-icons .social-link4, 
.social-icons .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Asegúrate de que los enlaces tengan suficiente espacio */
  height: 50px; /* Ajusta la altura para que sean círculos perfectos */
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50%; /* Haz que los iconos sean completamente redondos */
  overflow: hidden; /* Evita que el contenido sobresalga */
  z-index: 3;
}

.social-icon img {
  position: absolute;
  display: flex;
  width: 25px;
  height: auto;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
  transform: scale(1);
}

.social-icons .social-link1:hover {
  background-color: var(--fraterni-yellow);
  /* background-color: #808489; */
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link2:hover {
  background-color:var(--fraterni-yellow);
  /* background-color: #808489; */
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link3:hover {
  background-color: var(--fraterni-yellow);
  /* background-color: #808489; */
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link4:hover {
  background-color: var(--fraterni-yellow);
  /* background-color: #808489; */
  animation: bounce_613 0.4s linear;
}

.social-icons .social-link5:hover {
  background-color: var(--fraterni-yellow);
  /* background-color: #808489; */
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
      transform: scale(1.4);
  }

  60% {
      transform: scale(0.8);
  }

  80% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}


.header--portrait-container .header--button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 72vh; /* Ajusta según sea necesario para que esté entre las secciones */
  padding: 16px 24px;
  background-color: var(--fraterni-yellow);
  color: #fff;
  font-family: 'Norwester';
  text-decoration: none;
  border-radius: 8px;
  letter-spacing: 0.07rem;
  z-index: 3; /* Asegura que el botón esté por encima de todo */
}

/* 3.1 Fraternity? Container -
3.1.1 Why a Fraternity? Container  */

/* Mobile First Styling */
.fraternity-section {
  background-color: #152517;
  color: #000; /* Texto blanco para contraste */
  padding: 20px;
  text-align: center;
}

.fraternity-section h1 {
  font-family: "Nerko One";
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  padding: 24px 16px 8px 16px;
  color: #ffffff;
  text-wrap: balance;
}

.fraternity-image-cover strong {
  color: var(--fraterni-yellow);
  position: relative;
  animation: highlight 5s ease-in-out infinite; /* Añadir animación */
}

@keyframes highlight {
  0% {
    color: var(--fraterni-yellow); /* Comienza en color amarillo */
  }
  50% {
    color: #ffffff; /* Se resalta cambiando el color a blanco */
    background-color: var(--fraterni-yellow); /* Fondo amarillo */
    padding: 6px;
    border-radius: 8px;
  }
  100% {
    color: var(--fraterni-yellow); /* Vuelve al color original */
    background-color: transparent; /* Fondo transparente */
  }
}

.fraternity-image-cover img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: auto;
  border-radius: 8px; /* Esquinas redondeadas para un toque moderno */
  mask-image: linear-gradient(
    black 90%,
    transparent
  );
}

.fraternity-content {
  margin-top: 20px;
  color: #ffffff;
}

.fraternity-content h2 {
  font-family: "Nerko One";
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 10px;
  padding: 0 16px 8px 16px;
  font-weight: bold;
  
}

#selection-vuca-box {
  border: 3px solid var(--fraterni-yellow);  /* Estilo del borde */
  padding: 10px;
  margin-bottom: 20px;  /* Espacio entre la caja y las palabras */
  font-size: 16px;
  border-radius: 8px;
  background-color: #345427;
  color: #ffffff;
}

.vuca-box {
  width: 100%;
  height: 150px;
  border: 3px solid #ffeb3b;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.vuca-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vuca-card {
  background-color: #13250e;
  border: 2px solid #86540d;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 25%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.vuca-card:hover {
  transform: scale(1.05);
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fraternity-content strong{
  color: var(--fraterni-yellow);
  font-weight: 800;
}

.fraternity-content p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 8px;
  text-wrap: balance;
}

.fraternity-content img{
  width: 320px;
  height: 200px;
}

.fraternity-content h2:nth-of-type(2){
  font-family: 'Norwester';
  font-size: 3.2rem;
}

.fraternity-content p2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  padding: 0 16px;
  margin-bottom: 20px;
  text-wrap: balance;
}

.fraternity-content p2:last-child{
  padding-top: 8px;
}

.mission-vision {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mission, .vision {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color:#1f3521;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission img, .vision img {
  width: 40px;
  height: 40px;
}

/* Opcional: sombra suave para efecto flotante */
.mission, .vision {
  transition: box-shadow 0.3s ease-in-out;
}

.mission:hover, .vision:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos actualizados para mobile */

/* Sección principal de los principios */
.fraternity-principles {
  background-color: #e4e6e9;
  padding: 20px;
  text-align: center;
}


.fraternity-principles h1 {
  color: var(--frat-grey);
  font-weight: bold;
  font-size: 4rem; /* Ajuste para mobile */
  font-family: 'Norwester';
  margin-bottom: 20px;
}

.fraternity-principles p {
  padding: 0px 8px;
  margin-bottom: 20px;
  color: var(--frat-grey);
  font-size: 1.6rem; /* Ajuste para mobile */
  text-wrap: balance;
}

/* Sección de la imagen y botones */
.principles-grid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principles-grid-display {
  width: 100%;
  max-width: 280px; /* Ajuste para mobile */
  margin-bottom: 15px;
}

.principles-image-display img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.principles-image-display figcaption {
  font-size: 4rem; /* Ajuste para mobile */
  color: var(--frat-grey);
  margin-top: 8px;
  font-weight: bold;
  text-wrap: balance;
  font-family: 'Norwester';
}

/* Botones con íconos */
.principles-grid-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.principles-grid-buttons ul {
  display: flex;
  justify-content: center;
  gap: 8px; /* Espaciado ajustado */
  padding: 0;
}

.principles-grid-buttons li {
  list-style: none;
}

.principles-grid-buttons button {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.principles-grid-buttons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Efecto hover para los íconos */
.principles-grid-buttons button:hover img,
.principles-grid-buttons button:focus img {
  transform: scale(1.2);
}

/* Efecto hover para la imagen */
.principles-image-display img:hover {
  transform: scale(1.05);
}

.principles-area-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principles-table {
  margin-top: 24px;
  width: 60%; /* Ajusta el ancho de la tabla */
  border-collapse: collapse; /* Elimina espacios entre celdas */
}

.principles-table th, 
.principles-table td {
  border: none; 
  padding: 10px; /* Agrega espacio dentro de las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  background: var(--fraterni-green);
  border-top: 5px solid var(--fraterni-yellow);
}


footer section {
  padding: 0 50px;
}

section.top {
  padding-top: 25px;
  margin-bottom: 15px;
}

section.top img {
  display: block;
  height: 30px;
  margin: 0 0 30px;
}

section.top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

section.top ul li a {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

section.top h3 {
  color: #c7c7c7;
  font-weight: 400;
  font-size: var(--font-size-body);
  letter-spacing: 1px;
}

section.bottom {
  padding-top: 5px;
  border-top: 2px solid #d187072c;
  color: #c7c7c7;
  font-size: var(--font-size-body);
}

.redicon span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  background-position: center;
  vertical-align: middle;
}

.facebook {
  background-image: url('./assets/icons/facebook.svg');
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('./assets/icons/Vector.svg');
  background-repeat: no-repeat;
}

.tiktok {
  background-image: url('./assets/icons/TikTok.svg');
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url('./assets/icons/LinkedIn.svg');
  background-repeat: no-repeat;
}

.youtube {
  background-image: url('./assets/icons/youtube.svg');
  background-repeat: no-repeat;
}

.envelope {
  background-image: url('./assets/icons/envelope.svg');
  background-repeat: no-repeat;
}

.conticon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-position: center;
  vertical-align: middle;
}

.contactoFooter {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}